/* Base CSS */

:focus,
button:focus {
    outline: 0;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

a {
    color: #fff;
    text-transform: inherit;
}

a:hover,
a :focus {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
    line-height: 64px;
    font-weight: 600;
}

body {
    background-color: #242848;
    color: #fff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
}

ul {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

p {
    line-height: 1.7;
    margin: 0;
}

a {
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}


/*  */

.page_wrapper {
    position: relative;
}


/*  */

.section_title {
    text-align: center;
    margin-bottom: 60px;
}

.section_title h2 {
    color: #fff;
    font-size: 40px;
    line-height: 64px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section_title p {
    font-size: 18px;
    line-height: 26px;
    padding: 0 25px;
}

.section_title.v2 h2 {
    color: #292929;
}

.section_title.v2 p {
    color: #7A7A7A;
}

.bg_green {
    background: #32AD79;
}

.bg_green h3,
.bg_green h4,
.bg_green h5,
.bg_green h6,
.bg_green p,
.bg_green span,
.bg_green a {
    color: #fff;
}

.pad_one {
    padding: 100px 0;
}

.pad_two {
    padding: 80px 0;
}

.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.btn.v1 {
    color: #fff;
    background: linear-gradient(0deg, rgba(102, 79, 253, 1) 0%, rgba(112, 91, 253, 1) 35%, rgba(125, 107, 253, 1) 100%);
    font-size: 16px;
    text-transform: capitalize;
    line-height: 18px;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px 33px !important;
    font-weight: 500;
    transition: 0.3s;
    display: inline-block !important;
}

.btn.v1:hover {
    color: #fff !important;
    background: transparent;
    border: 1px solid #fff;
}

.btn.v2 {
    font-size: 17px;
    background: linear-gradient(0deg, rgba(102, 79, 253, 1) 0%, rgba(112, 91, 253, 1) 35%, rgba(125, 107, 253, 1) 100%);
    text-transform: uppercase;
    line-height: 18px;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 18px 40px 14px;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
    z-index: 9;
}

.btn.v2:hover {
    color: #FFF;
    background: transparent;
    border: 2px solid #fff;
}

.btn.v3 {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 18px;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 12px 28px 10px;
    font-weight: 500;
    display: inline-table;
    transition: 0.3s;
    background-color: #6E58FD;
    z-index: 9;
    position: relative;
}

.btn.v3:hover {
    color: #FFF;
    background: transparent;
    border: 2px solid #fff;
}

.btn.v4 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 18px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 15px 55px;
    font-weight: 500;
    display: inline-table;
    transition: 0.3s;
}

.btn.v4:hover {
    color: #32AD79;
    background: #fff;
    border: 2px solid transparent;
}

.text_red {
    color: #ea4242;
}

.text_green {
    color: #00e310 !important;
}

.text_yel {
    color: #ff9600 !important;
}

.text_blu {
    color: #00aeff !important;
}

.bg_mt {
    background-color: #76483B;
}

.bg_mal {
    background-color: #1D6E94;
}

.bg_gr {
    background-color: #1D7A5C;
}

.mb-30 {
    margin-bottom: 30px !important;
}


/* Navbar */

.main-menu .nav-item {
    margin: 0 22px;
}

.main-menu .nav-item:last-child {
    margin-right: 0;
}


/*--------------------------------
            Hero Slider CSS
---------------------------------*/

.hero_slider_wrap .container.v2 {
    margin-right: 0;
}

.hero_slider.swiper-container {
    padding: 20px 0 48px;
}

.match_stat_wrap {
    background-repeat: no-repeat;
    height: 160px;
    background-size: contain;
    background-position: top;
    padding: 15px 20px;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
}

.match-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.match_stat {
    margin-bottom: 15px;
}

.match_time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.team_logo img {
    min-width: 100px;
}

.event_team .team_logo img {
    max-width: 60px;
    min-width: 60px;
}

.watch_icon img {
    max-width: 12px;
    margin-right: 6px;
    position: relative;
}

.match_time span {
    font-size: 16px;
    font-weight: 500;
}

.match_time img {
    width: 20px;
}

.match_stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match_stat_left h6,
.match_stat_right h5 {
    font-size: 16px;
    line-height: 1;
    margin: 0;
    font-weight: 500;
}

.team_logo {
    max-width: 70px;
}

.hero-next {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    line-height: 38px;
    background: #6C56FB;
    cursor: pointer;
    margin-left: 10px;
}

.hero-prev {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    line-height: 38px;
    background: #2D325A;
    border: 1px solid #6C56FB;
    cursor: pointer;
}

.live_slider_next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    line-height: 28px;
    background: #6C56FB;
    cursor: pointer;
    margin-left: 10px;
}

.live_slider_prev {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    line-height: 28px;
    background: #2D325A;
    border: 1px solid #6C56FB;
    cursor: pointer;
}

.live_slider_next img,
.live_slider_prev img {
    max-width: 15px;
}


/*--------------------------------
           News CSS
---------------------------------*/

.live_slider {
    padding-bottom: 30px;
}

.live_item {
    background: #2D325A;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    min-height: 330px;
}

.live_item-info a {
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    padding: 20px 30px 20px 20px;
    display: block;
}

.live_img {
    position: relative;
}

.live_img img {
    width: 100%;
}

.live_status {
    position: absolute;
    bottom: 12px;
    left: 15px;
}

.live_status span {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
    background: red;
    position: relative;
    top: 1px;
    margin-right: 6px;
}

.live_status p {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    font-weight: 500;
}

.live_status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.news_item {
    border-bottom: 1px solid #3C405C;
    padding: 38px 0 10px;
}

.news_title {
    width: 60%;
}

.news_title a {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    line-height: 20px;
}

.news_meta_info {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -10px;
}

.news_date {
    margin-right: 25px;
}

.news_date p,
.news_like span {
    font-size: 14px;
    line-height: 16px;
}

.news_like i {
    color: #634FEC;
    margin-right: 6px;
    font-size: 14px;
}


/*--------------------------------
            Event CSS
---------------------------------*/

.upcoming_events_wrap {
    padding: 30px 0 120px;
}

.event_item_wrap {
    background-size: contain;
    background-position: top center;
    padding: 24px;
    margin: 0 30px 20px 0;
    position: relative;
    background: #2D325A;
    border-radius: 25px;
}

.event_item_wrap:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 310px;
    height: 100%;
    content: "";
    background-image: url(../img/bg_7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.event_item_wrap:last-child {
    margin-bottom: 0;
}

.event_item_wrap,
.event_team {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.event_btn {
    margin-left: 80px;
}

.team_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.team_name h6 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
}

.team_name {
    text-align: right;
    margin-right: 30px;
}

.team_name span {
    font-size: 14px;
    color: #ff3e44;
    font-weight: 600;
}

.team_vs {
    background: #242848;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    margin: 0 40px;
}

.team_vs span {
    font-size: 18px;
    line-height: 65px;
}

.event_img {
    margin-right: 30px;
}

.event_btn .btn.v3 {
    margin-left: 30px;
}

.events_list-wrap {
    height: 383px;
    overflow-y: auto;
}


/*
.nicescroll-rails-vr {
  width: 20px;
  opacity: 1;
  background: #000;
  border-left: 1px solid #ff7f50;
  cursor: default;
  position: fixed;
  height: 100%;
  z-index: auto;
  right: 0;
  top: 0;
  display: block;
}
.nicescroll-rails-vr .nicescroll-cursors {
  border-radius: 0px;
  width: 10px;
  background: linear-gradient(#ff0, #ff4500);
  box-shadow: inset 0px 0px 5px #000;
  border: 1px solid #ffa500;
  position: relative;
  display: block;
  margin: 0 auto;
  background-clip: padding-box;
}
.nicescroll-rails-vr .nicescroll-cursors .nicescroll-cursors-inner {
  width: 100%;
  height: 100%;
  background: linear-gradient(#ff4500, #ff0);
  box-shadow: inset 0px 0px 5px #000;
}*/


/*--------------------------------
            Footer CSS
---------------------------------*/

.footer_wrap {
    background: #1E213C;
    padding: 35px 0;
    text-align: center;
}

.footer_link li {
    display: inline-block;
    margin: 0 35px;
}


/*--------------------------------
            User profile CSS
---------------------------------*/

.content_wrapper {
    margin-top: 76px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

.content_wrapper:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
    content: "";
    background-image: url(../img/hero_1.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.player_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2D325A;
    position: relative;
    border-radius: 15px;
    margin: 35px 0;
}

.player_box:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../img/flag.png);
    width: 180px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.player_box.v2:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background-image: url(../img/flag_2.png);
    width: 180px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.player_box_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
}

.player_name h4 {
    font-size: 28px;
    font-weight: 800;
    color: #ebedfc;
    line-height: 30px;
    margin-bottom: 8px;
}

.player_name p {
    font-size: 18px;
    line-height: 1;
}

.player_name p span {
    color: #b1a5ff;
}

.player_name ul li {
    display: inline-block;
    margin-right: 10px;
}

.player_name ul li img {
    max-width: 18px;
}

.player_name ul {
    margin-top: 20px;
}

.player_img {
    margin-right: 45px;
}

.player_box_right ul li {
    display: inline-block;
    margin: 0 0 0 10px;
}

.player_box_right ul li img {
    max-width: 50px;
}

.player_box_right {
    text-align: right;
}

.player_box_right ul {
    margin-top: 20px;
}


/*--------------------------*/

.box_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 22px 0;
}

.box_title_left h2 {
    font-size: 34px;
    font-weight: 800;
    color: #ebedfc;
    line-height: 32px;
    margin: 0;
}

.box_title_left h5 {
    font-size: 18px;
    font-weight: 500;
    color: #ebedfc;
    line-height: 28px;
    margin: 0;
}

.box_title_right p {
    font-size: 18px;
    line-height: 20px;
    color: #ebedfc;
    font-weight: 600;
}

.box_title_right span {
    font-weight: 300;
}

.box_title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 65%;
    height: 3px;
    background: linear-gradient(90deg, rgba(90, 75, 210, 1) 0%, rgba(70, 66, 155, 1) 35%, rgba(57, 60, 117, 1) 100%);
}

.box_title.v1:after {
    width: 100%;
}

.box_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 22px 0;
    margin-bottom: 20px;
}

.box_title_left h2 {
    font-size: 36px;
    font-weight: 800;
    color: #ebedfc;
    line-height: 32px;
    margin: 0;
}

.box_title_right p {
    font-size: 18px;
    line-height: 20px;
    color: #ebedfc;
    font-weight: 600;
}

.box_title_right span {
    font-weight: 300;
}

.box_title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 65%;
    height: 3px;
    background: linear-gradient(90deg, rgba(90, 75, 210, 1) 0%, rgba(70, 66, 155, 1) 35%, rgba(57, 60, 117, 1) 100%);
}

.nav.nav-tabs.list-details-tab {
    justify-content: flex-end;
    align-items: center;
    border-bottom: none;
    margin-bottom: 8px;
}

.nav.nav-tabs.list-details-tab li img {
    max-width: 55px;
}

.nav.nav-tabs.list-details-tab li a {
    display: block;
    padding: 20px;
    background: #2D325A;
}

.nav.nav-tabs.list-details-tab li a.active {
    background: #363C6C;
}

.nav.nav-tabs.list-details-tab li:first-child a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav.nav-tabs.list-details-tab li:last-child a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info_item_wrap {
    margin-bottom: 15px;
}

.info_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
}

.info_item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info_item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info_item_right {
    display: flex;
    justify-content: flex-start;
}

.info_item_left {
    min-width: 150px;
}

.info_item_left p {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

.stat_bar {
    margin-right: 15px;
}

.stat_bar span {
    font-size: 14px;
    margin-right: 20px;
}

.info_item:nth-child(even) {
    background: #363C6C;
}

.info_item:nth-child(odd) {
    background: #2D325A;
}

.view_more_btn {
    background: #363C6C;
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.view_more_btn a {
    color: ;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
    transition: 0.3s;
}

.view_more_btn a:hover {
    opacity: 1;
    color: #fff;
}

.info_item.v2 {
    opacity: 0.6;
}

.info_item.v2 .info_item_left p {
    font-weight: 400;
}

.info_item_wrap.v2 .info_item {
    justify-content: flex-start;
}

.info_item_wrap.v2 .info_item_left {
    min-width: 200px;
}


/*-------------------*/

.maf_v1 {
    /*transform: translateY(-90px);*/
    margin-top: -90px;
}

.nav.nav-tabs.sec_tab {
    border: none;
}

.nav.nav-tabs.sec_tab li a {
    background: #242848;
    display: inline-block;
    padding: 18px 38px;
    border: 1px solid #3E457A;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 24px;
    font-weight: 700;
}

.nav.nav-tabs.sec_tab li a.active {
    background: #2D325A;
    border-bottom: none;
}

.sec_tab_content {
    background: #2D325A;
    border-radius: 10px;
    border-top-left-radius: 0;
    padding: 40px 20px 20px;
    margin-bottom: 35px;
}

.subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.user_match_stat_header.v2 {
    border-radius: 0;
    justify-content: flex-start;
}

.user_match_stat_header.v2:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user_match_stat_header.v2:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.user_match_stat_header.v2:nth-child(even) {
    background-color: #363C6C;
}

.user_match_stat_header.v2:nth-child(odd) {
    background-color: #282D51;
}

.user_match_stat_header.v2 .match_stats a.stat_btn {
    margin-left: 15px;
}

.user_match_stat_header.v2 .date {
    width: 20%;
}

.user_match_stat_header.v2 .match_results_wrap {
    width: 22%;
    margin-right: 4%;
}

.user_match_stat_header.v2 .match_winner {
    width: 34%;
}

.user_match_stat_header.v2 .match_stats {
    width: 20%;
    text-align: right;
}

.match_results.v2 span:first-child,
.match_results.v2 span:last-child {
    color: #fff;
    font-weight: 700;
}

.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 26px;
    margin-bottom: 0;
    top: 4px;
    right: 5px;
}

.switch_wrap {
    order: 2;
    margin-left: 28px;
}

.step_switch_box h5 {
    line-height: 30px;
    margin: 0;
    order: 1;
    font-size: 24px;
    font-weight: 500;
}

.step_switch_box {
    display: flex;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider.round_box {
    border-radius: 34px;
}

input:checked+.slider {
    background-color: #7C68FD;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid #7C68FD;
}

.switch .slider.round_box::before {
    border-radius: 50%;
}

input:checked+.slider::before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    background-color: #242848;
}

input:checked+.slider {
    /*! border: 2px solid #6FB2FF; */
}

.switch .slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 2px;
    background-color: #E2E3EF;
    -webkit-transition: .4s;
    transition: .4s;
}

.page_num {
    margin: 40px 0;
}

.page_num ul li {
    display: inline-block;
    margin: 0 10px;
}

.page_num ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.page_num ul li:first-child {
    margin-left: 0;
}

.page_num ul li a.active,
.page_num ul li a:hover {
    color: #7662ff;
}


/*-------------------*/

.user_match_stat_wrap {
    margin-bottom: 45px;
}

.user_match_stat_header {
    background: #363C6C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 15px 25px;
    /*margin-bottom: 35px;*/
}

.match_results_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date p {
    font-size: 16px;
    color: #ebedfc;
    line-height: 18px;
    font-weight: 500;
}

.team-logo {
    margin: 0 18px;
}

.match_results span:first-child {
    color: #00e310;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}

.match_results span:last-child {
    color: #ea4242;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}

.match_winner img {
    position: relative;
    top: -2px;
    margin-right: 12px;
}

.match_stats a.stat_btn {
    display: inline-block;
    background: #242848;
    text-transform: uppercase;
    padding: 2px 15px;
    line-height: 18px;
    font-size: 14px;
    border: 1px solid #999BAA;
    border-radius: 4px;
    font-weight: 500;
}

.user_match_statistics {
    display: flex;
    justify-content: space-between;
    ;
    align-items: center;
    /*! margin: 50px 0 40px; */
}

.user_stat_list ul {
    display: flex;
    justify-content: flex-start;
}

.user_stat_list ul li:nth-child(even) {
    background-color: #2C3057;
}

.user_stat_list ul li:nth-child(odd) {
    background-color: #32375F;
}

.user_img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user_avatar img {
    border: 3px solid #00FF3C;
    border-radius: 5px;
}

.user_name h6 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
}

.user_name p {
    font-size: 18px;
    line-height: 22px;
}

.user_avatar {
    margin-right: 15px;
    max-width: 85px;
}

.user_stat_list ul li {
    padding: 10px 11px 10px;
    text-align: center;
}

.user_stat_list_top {
    margin-bottom: 35px;
}

.user_stat_list {
    margin-top: -6px;
    height: calc(100% + 63px);
    /*overflow-y: auto;*/
}

.user_stat_list.maf {
    margin-top: -6px;
    height: calc(100% + 63px);
    overflow-y: auto;
}

.user_stat_list_top p,
.user_stat_list_bottom p {
    font-size: 18px;
    font-weight: 500;
}

.user_match_statistics.v2 .user_name h6 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.user_match_statistics.v2 .user_name p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0px;
}

.user_match_statistics.v2 .user_name span {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.user_match_statistics.v2 .user_stat_list ul li {
    width: 50px;
}

.user_match_statistics.v2.style1 {
    justify-content: flex-end;
}

.user_match_statistics.v2.style3 {
    justify-content: flex-start;
}

.user_match_statistics.v2 .user_stat_list_bottom {
    min-height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_match_statistics.v2.style1 .user_stat_list li {
    min-width: 50px;
    padding: 15px 9px;
}

.user_match_statistics.v2 .user_img {
    margin-bottom: 15px;
}

.user_match_statistics.v2.style2 .user_stat_list ul li {
    padding: 10px 11px 15px;
    text-align: center;
}

.user_match_statistics.v2.style2 .user_stat_list_bottom {
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*--------------------------------
            Match stat  CSS
---------------------------------*/

.promo_box {
    display: flex;
    justify-content: space-between;
    background: #2D325A;
    align-items: center;
    padding: 0 40px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.match_box {
    margin-bottom: 15px;
}

.match_box_title {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px;
}

.match_box_title p {
    font-size: 24px;
    font-weight: 700;
}

.promo_box .team_a_name img,
.promo_box .team_b_name img {
    max-width: 45px;
}

.promo_box .team_a_name p,
.promo_box .team_b_name p {
    font-size: 14px;
    margin-top: 3px;
}

.promo_box .team_a_point span,
.promo_box .team_b_point span {
    font-size: 16px;
    font-weight: 500;
}

.map_box {
    background: #2D325A;
    padding: 35px 30px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.map_box p {
    font-size: 14px;
    opacity: 0.8;
    line-height: 22px;
}

.promo_box .point_box_center .match_stats a.stat_btn {
    color: #fff;
    margin-top: 0;
    padding: 4px 12px 4px;
    font-weight: 500;
    font-size: 13px;
}

.promo_box .point_box_left,
.promo_box .point_box_right {
    width: 30%;
    margin-top: 34px;
}

.promo_box .point_box_center span {
    font-weight: 600;
}


/*----------------------*/

.subheader a {
    background: #2D325A;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.video_play_btn {
    background: #2D325A;
    text-align: center;
    padding: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.video img {
    width: 100%;
}

.video_play_btn button {
    background: transparent;
    border: none;
}

.video-img {
    margin: 20px 10px 60px;
}

.video-img img {
    width: 100%;
}

.custom_checkbox ul li {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.custom_checkbox ul {
    columns: 2;
}

.custom_checkbox {
    margin: 25px 25px;
}

.form-group {
    display: block;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
    opacity: 0.7;
}

.form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #fff;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);*/
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 3px;
    position: relative;
    top: -2px;
}

.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 8px;
    width: 7px;
    height: 17px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 1;
    background: #242848;
}

.form-group input:checked+label {
    opacity: 1;
}


/*----------------------*/


/*----------------------*/

.point_box {
    background: #2D325A;
    display: flex;
    justify-content: space-between;
    padding: 2% 15%;
    position: relative;
    border-radius: 10px;
}

.point_box.v1 {
    margin: 35px 0 40px;
}

.point_box:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../img/flag.png);
    width: 180px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.point_box:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background-image: url(../img/flag_2.png);
    width: 180px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.point_box.v2 {
    background: transparent;
    align-items: center;
}

.point_box.v2:before,
.point_box.v2:after {
    display: none;
}

.point_box_left,
.point_box_right {
    width: 25%;
}

.point_box_center {
    width: 50%;
}

.point_box_left,
.point_box_right {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 99;
}

.point_box_center {
    text-align: center;
}

.point_box_center h2 {
    line-height: 30px;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
}

.point_box_center h4 {
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.point_box_center p,
.point_box_center span {
    font-size: 14px;
    line-height: 1;
}

.point_box_center span {
    color: #9888ff;
    display: inline-block;
    margin-top: 10px;
}

.team_a_point span,
.team_b_point span {
    font-size: 34px;
    font-weight: 700;
}

.team_a_name p,
.team_b_name p {
    font-size: 22px;
    margin: 10px 0 0;
    font-weight: 600;
    color: #bdb3ff;
}


/*---------------------*/

.match-slider .swiper-slide.swiper-slide-next,
.match-slider .swiper-slide.swiper-slide-prev {
    transform: scale(1);
    margin-top: -16px;
}

.match-slider .swiper-slide.swiper-slide-prev {
    margin-left: 15px;
}

.match-slider .swiper-slide.swiper-slide-next {
    margin-right: 15px;
    margin-left: 25px;
}

.match-slider .swiper-slide.swiper-slide-active {
    margin: -16px 30px 0;
}

.match-slider {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 20px 0 320px;
    position: relative;
}

.match-slider:after {
    position: absolute;
    bottom: 68px;
    left: 0;
    width: 100%;
    height: 8px;
    content: "";
    background-color: #fff;
}

.match-slider.swiper-container>.swiper-slide__content {
    position: absolute;
    top: 0;
}

.match-slider .swiper-slide {
    height: 150px;
    display: -webkit-box;
    display: flex;
    background: #2D325A;
    justify-content: flex-start;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.match-slider .swiper-slide a {
    display: block;
    padding: 20px;
}

.match-slider .swiper-slide.swiper-slide-active {
    -webkit-transform: scale(1);
    transform: scale(1);
    background: #373D6E;
}

.match-slider .swiper-slide__content {
    height: 300px;
}

.match-slider .swiper-slide {
    position: relative;
    border-radius: 10px;
}

.match-slider .swiper-slide:before {
    position: absolute;
    bottom: -160px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: #fff;
    width: 2px;
    height: 162px;
}

.match-slider .swiper-slide:after {
    position: absolute;
    bottom: -160px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: #AA98EA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.match-slider .swiper-slide.swiper-slide-active:before,
.match-slider .swiper-slide.swiper-slide-prev:before,
.match-slider .swiper-slide.swiper-slide-next:before {
    height: 100px;
    bottom: -100px;
}

.match-slider .swiper-slide.swiper-slide-active:after,
.match-slider .swiper-slide.swiper-slide-prev:after,
.match-slider .swiper-slide.swiper-slide-next:after {
    bottom: -128px;
    width: 33px;
    height: 33px;
}

.match-slider .swiper-slide.swiper-slide-active:after {
    background-color: #D8CDFF;
}

.match-slider .swiper-slide.swiper-slide-active .match_score,
.match-slider .swiper-slide.swiper-slide-prev .match_score,
.match-slider .swiper-slide.swiper-slide-next .match_score {
    bottom: -162px;
    font-size: 20px;
}

.match_score {
    position: absolute;
    bottom: -200px;
    font-size: 24px;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
}


/*==============*/

.slick-center-wrap {
    padding: 80px 0;
}

.slick-slider {
    border-bottom: 8px solid #fff;
}

.slick-slide {
    position: relative;
    padding-bottom: 95px;
}

.slick-slide:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: #fff;
    width: 1px;
    height: 120px;
}

.slick-slide:after {
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: #AA98EA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.slick-slider {
    width: 100%;
    background-color: transparent;
}

.slick-slider .slick-track {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.slick-slider .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0px;
    margin: 10px;
    transition: all 0.3s ease;
    height: auto;
}

.slick-slider .slick-slide.slick-current,
.slick-slider .slick-slide.slick-center {
    padding: 30px 0px;
}

.slick-slider p {
    background: #2D325A;
    text-align: center;
    padding:
}


/*--------------------*/

.maf_team_name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.maf_team_name p {
    font-size: 18px;
    font-weight: 700;
    margin-right: 6px;
    position: relative;
}

.maf_team_name p:after {
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translateY(-50%);
    content: "";
    width: 6px;
    height: 3px;
    background: #fff;
}

.nice-select {
    width: 90px;
    background: transparent;
    border: none;
    color: #f91;
    font-weight: 700;
    font-size: 18px;
}

.nice-select::after {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    right: 3px;
}

.result_sum_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 60px;
}

.result_sum {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.res_team {
    margin-right: 30px;
}

.res_team li {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
}

.res_team li,
.result_count li {
    margin-bottom: 14px;
}

.res_team li:nth-child(odd) {
    opacity: 0.6;
}

.res_team li:nth-child(even) {
    font-weight: 400;
    font-size: 20px;
}

.result_count li {
    min-width: 38px;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}

.result_count {
    padding: 5px;
    cursor: pointer;
}

.result_count:hover,
.result_count.active {
    background: #2C3057;
    border-radius: 10px;
}