/* Base CSS */

:focus,
button:focus {
    outline: 0;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

a {
    color: #fff;
    text-transform: inherit;
}

a:hover,
a :focus {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
    line-height: 64px;
    font-weight: 600;
}

body {
    background-color: #242848;
    color: #fff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
}

ul {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

p {
    line-height: 1.7;
    margin: 0;
}

a {
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}