/*--------------------------------
            User profile CSS
---------------------------------*/

.content_wrapper {
    margin-top: 76px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

.content_wrapper:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
    content: "";
    background-image: url(../../img/hero_1.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.player_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2D325A;
    position: relative;
    border-radius: 15px;
    margin: 35px 0;
}

.player_box:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../../img/flag.png);
    width: 180px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.player_box.v2:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background-image: url(../../img/flag_2.png);
    width: 180px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.player_box_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
}

.player_name h4 {
    font-size: 28px;
    font-weight: 800;
    color: #ebedfc;
    line-height: 30px;
    margin-bottom: 8px;
}

.player_name p {
    font-size: 18px;
    line-height: 1;
}

.player_name p span {
    color: #b1a5ff;
}

.player_name ul li {
    display: inline-block;
    margin-right: 10px;
}

.player_name ul li img {
    max-width: 18px;
}

.player_name ul {
    margin-top: 20px;
}

.player_img {
    margin-right: 45px;
}

.player_box_right ul li {
    display: inline-block;
    margin: 0 0 0 10px;
}

.player_box_right ul li img {
    max-width: 50px;
}

.player_box_right {
    text-align: right;
}

.player_box_right ul {
    margin-top: 20px;
}


/*--------------------------*/

.box_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 22px 0;
}

.box_title_left h2 {
    font-size: 34px;
    font-weight: 800;
    color: #ebedfc;
    line-height: 32px;
    margin: 0;
}

.box_title_left h5 {
    font-size: 18px;
    font-weight: 500;
    color: #ebedfc;
    line-height: 28px;
    margin: 0;
}

.box_title_right p {
    font-size: 18px;
    line-height: 20px;
    color: #ebedfc;
    font-weight: 600;
}

.box_title_right span {
    font-weight: 300;
}

.box_title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 65%;
    height: 3px;
    background: linear-gradient(90deg, rgba(90, 75, 210, 1) 0%, rgba(70, 66, 155, 1) 35%, rgba(57, 60, 117, 1) 100%);
}

.box_title.v1:after {
    width: 100%;
}

.box_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 22px 0;
    margin-bottom: 20px;
}

.box_title_left h2 {
    font-size: 36px;
    font-weight: 800;
    color: #ebedfc;
    line-height: 32px;
    margin: 0;
}

.box_title_right p {
    font-size: 18px;
    line-height: 20px;
    color: #ebedfc;
    font-weight: 600;
}

.box_title_right span {
    font-weight: 300;
}

.box_title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 65%;
    height: 3px;
    background: linear-gradient(90deg, rgba(90, 75, 210, 1) 0%, rgba(70, 66, 155, 1) 35%, rgba(57, 60, 117, 1) 100%);
}

.nav.nav-tabs.list-details-tab {
    justify-content: flex-end;
    align-items: center;
    border-bottom: none;
    margin-bottom: 8px;
}

.nav.nav-tabs.list-details-tab li img {
    max-width: 55px;
}

.nav.nav-tabs.list-details-tab li a {
    display: block;
    padding: 20px;
    background: #2D325A;
}

.nav.nav-tabs.list-details-tab li a.active {
    background: #363C6C;
}

.nav.nav-tabs.list-details-tab li:first-child a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav.nav-tabs.list-details-tab li:last-child a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info_item_wrap {
    margin-bottom: 15px;
}

.info_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
}

.info_item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info_item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info_item_right {
    display: flex;
    justify-content: flex-start;
}

.info_item_left {
    min-width: 150px;
}

.info_item_left p {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

.stat_bar {
    margin-right: 15px;
}

.stat_bar span {
    font-size: 14px;
    margin-right: 20px;
}

.info_item:nth-child(even) {
    background: #363C6C;
}

.info_item:nth-child(odd) {
    background: #2D325A;
}

.view_more_btn {
    background: #363C6C;
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.view_more_btn a {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
    transition: 0.3s;
}

.view_more_btn a:hover {
    opacity: 1;
    color: #fff;
}

.info_item.v2 {
    opacity: 0.6;
}

.info_item.v2 .info_item_left p {
    font-weight: 400;
}

.info_item_wrap.v2 .info_item {
    justify-content: flex-start;
}

.info_item_wrap.v2 .info_item_left {
    min-width: 200px;
}